@import '../App/App.scss';

.quizPage {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2.1em;
}

.quizSlide {
  height: 63vh;
  width: 89vw;
  background: $pine-green;
  }

.promptImage,
.promptScienceName {
  height: 38vh;
  width: 89%;
  margin-left: 5vw;
  width: 89%;
}

.promptImage {
  margin-top: 1.3em;
}

.promptScienceName {
  background: $field-green;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  font-size: 2.1em;
  letter-spacing: .2em;
  text-align: center;
  text-shadow: 2px $field-gray;
  margin-top: .5em;
}

.answerChoices {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin-top: 1.3em;

}

.answerChoice {
  background: linear-gradient(45deg, $brush-green, $field-gray);
  font-size: 1.1em;
  color: $pine-green;
  height: 7vh;
  width: 38vw;
  margin: .3em;
}

.userScore {
  height: 5vh;
  width: 89%;
  font-size: 1.3em;
  text-align: center;
  background: $fade-in-gradient;
  margin-top: .5em;

  p {
    margin: 0;
    padding: 0;
  }
}
