@import '../App/App.scss';

.form {
  border: 2px solid $deep-blue;
  background-color: $pine-green;
  display: flex;
  flex-flow: column;
  width: 85%;
}

.username {
  align-self: center;
  background-color: $field-green;
}
