@import '../App/App.scss';

.quizResults {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background: $pine-green;
  color: $field-green;
  text-align: center;
  margin-top: 1.3em;
  margin-left: 5.5%;
  width: 89%;
}

.quizReset {
  height: 5vh;
  border: 3px solid $field-gray;
  font-size: 1.2em;
  background: $fade-out-gradient;
  margin-bottom: .8em;
}
