@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap');

$deep-blue: #1C3144;
$field-gray: #596f62;
$pine-green: #171E0B;
$field-green: #7EA16B;
$red-accent: #70161E;
$brush-green: #577447;
$fade-out-gradient: linear-gradient(45deg, $field-green 60%, $field-gray);
$fade-in-gradient: linear-gradient(45deg, $field-gray, $field-green 60%);

html {
  background-color: $deep-blue;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

.main {
	color: $pine-green;
	text-align: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 245px))
}

